@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Nunito+Sans:opsz@6..12&family=Pacifico&family=Roboto&family=Sono&family=Victor+Mono&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size:150%;
    background-position: center auto;
   
}

h1, h2{
    font-family: 'Bree Serif';
    color: rgb(124, 32, 32);
    text-shadow: 1px 0 rgb(43, 3, 3), -1px 0 rgb(43, 3, 3), 0 0 2px rgb(43, 3, 3);
}

h1{
    font-size: 2.5em;
    text-align: center;
}

nav{
    padding: 0;
    margin: 0;
    backdrop-filter: blur(2px);

}


#title{
    text-align: center;
    font-family:'Pacifico', sans-serif;
    color: rgb(204, 45, 45);
    margin: auto;
    font-size: 2.2em;
    /* background-image: url('https://images.unsplash.com/photo-1518893063132-36e46dbe2428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80');
    background-position: left top;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased; */
    transition: ease-in-out 0.1s;
    margin-bottom: 0;
}

#title:hover{
    background-position: center top;
    cursor: pointer;
    color: rgb(170, 30, 30);
}

#navbar{
    text-align: center;
    padding: 10px 5px 0px 5px;
    display: flex;
    justify-content: center;
}

#nav-hr{
    background-color: rgb(170, 30, 30);
    height: 3px;
    border: none;
}

#navbar a{
    text-decoration: none;
    color: rgb(190, 29, 29);
    font-family: 'Bree Serif';
    font-size: 1.5em;
    padding: 5px 5vw;
    transition-duration: 0.2s;
}

#navbar a:hover{
    color: rgb(151, 16, 16);
}


h1:hover,h2:hover{
    cursor: pointer;
    user-select: none;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;    
}

#toggleNav {
    display: none; /* Initially hide #toggleNav */
    background-color: rgba(194, 28, 28, 0);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: rgb(185, 33, 33);
    font-family: 'Bree Serif';
    font-size: 1.5em;
    padding: 5px 5vw;
    transition-duration: 0.2s;
    position: absolute;
    top: 10px;
}

@media (max-width: 825px) {
    #toggleNav {
        display: flex; /* Display #toggleNav when screen size is small */
    }
    ul li {
        display: none;
    }
    .visible li {
        display: block; 
    }
    #content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: center;
        margin: 10px auto;
    }
}

#toggleNav:hover{
    color: rgb(151, 16, 16);
    cursor: pointer;

}

#loader{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle,rgb(150, 19, 19) , rgb(109, 31, 31) 40%, rgb(71, 7, 7));
    position: absolute;
    display: flex;
    justify-content: center;    
    align-items: center;
    z-index: 999;
}

#loader img{
    border-radius: 50%;  
    animation: spin 2s linear infinite;
    border: none;
    margin: auto;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
