@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Nunito+Sans:opsz@6..12&family=Pacifico&family=Roboto&family=Sono&family=Victor+Mono&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/background-image.jpg');
    background-size: cover;
    background-position: center center;
   
}

h1, h2{
    font-family: 'Bree Serif';
    color: rgb(124, 32, 32);
    text-shadow: 1px 0 rgb(43, 3, 3), -1px 0 rgb(43, 3, 3), 0 0 2px rgb(43, 3, 3);
}

h1{
    font-size: 2.5em;
}

nav{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 0;
}

.title{
    text-align: center;
    font-family:'Pacifico', sans-serif;
    color: rgb(110, 36, 36);
    size:5rem;
    transition: ease-in-out 0.1s;
    margin-bottom: 0;
    
}

.title:hover{
    background-position: center top;
    cursor: pointer;
    color: rgb(170, 30, 30);
}

#navbar{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#nav-hr{
    background-color: rgb(170, 30, 30);
    height: 3px;
    border: none;
}

#navbar a{
    text-decoration: none;
    color: rgb(190, 29, 29);
    font-family: 'Bree Serif';
    font-size: 1.5em;
    padding: 5px 5vw;
    transition-duration: 0.2s;
}

#navbar a:hover{
    color: rgb(151, 16, 16);
}

#loader{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle,rgb(150, 19, 19) , rgb(109, 31, 31) 40%, rgb(71, 7, 7));
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
}

#loader img{
    border-radius: 50%;  
    animation: spin 2s linear infinite;
    border: none;
    margin: auto;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}